body{
    background-image: url('main-night-image/background-night.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
}


/* Dropdown menu của shape */
ul,
.eraser-container {
    list-style: none; 
}

/* Thanh trượt eraser */
#eraser-size {
    display: none;  
    position: absolute;
    margin: 202px 78px;
    height: 100px;  
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-appearance: none; 
    background: transparent;
}

#eraser-size::-webkit-slider-runnable-track {
    width: 8px;
    background: #E5B6E7; 
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px #2F0D3F; 
}

#eraser-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #fffceb;
    border: 2px solid #2F0D3F;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: 0px -4px;
}

.drawingBoard {
    background-color: white;
    border: 0px;
    position: absolute;
    margin: 153px 294px;
    border-radius: 15px;
    z-index: -1;
}


.pen-button,
.shape-list,
.eraser-button,
.line-button,
.bucket-button,
.palette-button,
.selection-button,
.night-button,
.library-button,
.upload-button,
.clearCanvas-button,
.undo-button,
.save-button,
.back-button
 {
    background: transparent !important; 
    border: none !important; 
    cursor: pointer; 
    position: absolute;
    outline: none; 
}

/* Công cụ pen */
.pen-button {
    margin: 140px 102px;
}

.pen-button img:not(.active):hover {
    opacity: 0.6; 
    transition: opacity 0.3s ease; 
}

.pen-button img.active {
    content: url('main-night-image/pen4.png'); 
    opacity: 1; 
    margin: -5px -8px;
}


/* Công cụ shape */
.shape-list {
    margin: 140px 135px;
}

.shape-list img:not(.active):hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}

.shape-list img.active {
    content: url('main-night-image/shape-list4.png'); 
    opacity: 1; 
    margin: -4px -6px;
}


.sub-shape-list {
    display: none; 
    position: absolute;
    background: #2F0D3F;
    border: 5px solid #E5B6E7;
    padding: 68px 24px;
    margin: 114px 230px;
    border-radius: 20px;
    z-index: 1;
}

.sub-shape-list.active {
    display: block; 
}


/* Công cụ eraser */
.eraser-button {
    margin: 206px 96px;
}

.eraser-button img:not(.active):hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}

.eraser-button img.active {
    content: url('main-night-image/eraser4.png'); 
    opacity: 1; 
    margin: -6px -2px;
}


/* Công cụ line */
.line-button {
    margin: 203px 177px;
}

.line-button img:not(.active):hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}

.line-button img.active {
    content: url('main-night-image/line4.png'); 
    opacity: 1; 
    margin: -2px -8px;
}


/* Công cụ bucket */
.bucket-button {
    margin: 283px 103px;
}

.bucket-button img:not(.active):hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}

.bucket-button img.active {
    content: url('main-night-image/bucket4.png'); 
    opacity: 1; 
    margin: -11px -13px;
}


/* Công cụ palette */
.palette-button {
    margin: 256px 155px;
}

.palette-button img:not(.active):hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}

.palette-button img.active {
    content: url('main-night-image/palette4.png'); 
    opacity: 1; 
    margin: 16px 13px;
}


/* Công cụ clearCanvas */
.clearCanvas-button {
    margin: 342px 77px;
}
.clearCanvas-button :hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}


/* Công cụ night mode */
.night-button {
    margin: 354px 168px;
}

.night-button :hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}


/* Công cụ library */
.library-button {
    margin: 466px 90px;
}
.library-button :hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}


/* Công cụ upload */
.upload-button {
    margin: 475px 193px;
}
.upload-button :hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}


/* Công cụ undo */
.undo-button {
    margin: 17px 625px;
}
.undo-button :hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}


/* Công cụ save */
.save-button {
    margin: 9px 723px;
}
.save-button :hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}


/* Công cụ back-to-home */
.back-button {
    margin: 30px 828px;
}
.back-button :hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}


.rectangle-button,
.circle-button,
.triangle-button
{
    background: transparent !important; 
    border: none !important; 
    cursor: pointer; 
    position: absolute;
    outline: none; 
}

.rectangle-button {
    margin: -59px -36px;
}

.rectangle-button img:not(.active):hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}

.rectangle-button img.active {
    content: url('main-night-image/rectangle4.png'); 
    opacity: 1; 
    margin: -1px 12px;
}

.circle-button {
    margin: -16px -25px;
}

.circle-button img:not(.active):hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}

.circle-button img.active {
    content: url('main-night-image/circle4.png'); 
    opacity: 1; 
    margin: -2px 1px;
}

.triangle-button {
    margin: 24px -32px;
}

.triangle-button img:not(.active):hover {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
}

.triangle-button img.active {
    content: url('main-night-image/triangle4.png'); 
    opacity: 1; 
    margin: 2px 3px;
}
